<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>worldScramble.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>001C85A91BF8EB30002ACD8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>001C85BF1BF8EB31002ACD8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>001C85CA1BF8EB31002ACD8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
